.container {
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 60px;
  color: rgb(111, 0, 0);
  background-color: rgba(252, 0, 0, 0.2);
  border: 1px solid rgba(252, 0, 0, 0.3);
  border-radius: 5px;
}

.error button {
  height: 40px;
  width: 140px;
  margin-left: 10px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.loading {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid rgb(194, 0, 0);
  border-right-color: transparent;
  animation: 1s infinite linear spin;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}